<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="183Connection" connectionString="Data Source=183.82.0.58;User Id=ycrao_kak;Password=183August;Initial Catalog=september;Connection Timeout=240;"/>
    <!--<add name="183Connection" connectionString="Data Source=rdstestingkak.cj2y20f2vhhq.ap-south-1.rds.amazonaws.com;User Id=RDS_Kak;Password=Password123;Initial Catalog=Udvahana_201617;Connection Timeout=240;"/>-->
  </connectionStrings>
</configuration>